extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Редактировать сценарий
        div.card-body
          form(method="POST", action="/scenario/update")
            div.row
              div.col-md-4
                div.form-group
                  label Название сценария
                  input.form-control(name="TITLE", value=event.TITLE, placeholder=event.TITLE, required)
                  input.form-control(name="ID", value=event.ID, type="hidden")
                div.form-group
                  label Описание сценария
                  textarea.form-control(name="DESCRIPTION", rows=6, placeholder=event.DESCRIPTION)= event.DESCRIPTION
              div.col-md-8
                div.form-group
                  label Сценарий
                  textarea.form-control.code_editor(name="CODE", rows=10, placeholder=event.CODE)= event.CODE
            button.btn.btn-success Сохранить

