extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Пользовательские сценарии
          p.card-description Сценарии поведения системы на события
        table.table
          thead
            tr
              th #
              th Название
              th Описание
              th
          tbody
            each value in event
              tr
                td: b #{value.ID}
                td #{value.TITLE}
                td #{value.DESCRIPTION}
                td
                  a.btn.btn-ico-sm.btn-success(href="/scenario/edit/"+value.ID)
                    span: i.fa.fa-fw.fa-pencil-alt
                  a.btn.btn-ico-sm.btn-info(href="/scenario/run_code/"+value.ID)
                    span: i.fa.fa-fw.fa-bolt
                  a.btn.btn-ico-sm.btn-danger(href="/scenario/remove/"+value.ID)
                    span: i.fa.fa-fw.fa-trash-alt
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Добавить новый сценарий
        div.card-body
          form(method="POST", action="/scenario/add")
            div.row
              div.col-md-4
                div.form-group
                  label Название сценария
                  input.form-control(name="TITLE", required)
                div.form-group
                  label Описание сценария
                  textarea.form-control(name="DESCRIPTION", rows=6)
              div.col-md-8
                div.form-group
                  label Сценарий
                  textarea.form-control(name="CODE", rows=10)
            button.btn.btn-success Добавить

