extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Консоль выполнения пользовательского сценария
        div.card-body
          code
              each val in event.logs
                pre.prettyprint.lang-js #{val}
