doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.min.css')
    link(rel='stylesheet', href='/stylesheets/fonts/css/fontawesome-all.css')
    link(rel='stylesheet', href='/stylesheets/helpers.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    div.body-wrapper
      div.app-aside
        include include/navbar
      div.app-content
        div.content-header
          include include/header
        div.content-main
          block content
