div.logo
nav.sidebar
  ul.nav
    li
      a(href="/")
        i.fa.fa-fw.fa-desktop
      div.sub-menu
        span Главная
    li
      a
        i.fa.fa-fw.fa-cube
      div.sub-menu
        span Сцена
    li
      a(href="/object")
        i.fa.fa-fw.fa-cubes
      div.sub-menu
        span Объекты
    li
      a(href="/scenario")
        i.fa.fa-fw.fa-code
      div.sub-menu
        span Сценарии
    li
      a(href="/room")
        i.fa.fa-fw.fa-comment-alt
      div.sub-menu
        span Комнаты
    li
      a
        i.fa.fa-fw.fa-calendar
      div.sub-menu
        span Планировщик задач
    li
      a
        i.fa.fa-fw.fa-window-maximize
      div.sub-menu
        span Виджеты
    li
      a
        i.fa.fa-fw.fa-cog
      div.sub-menu
        span Настройки