extends ../layout

block content
  div.row
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-success
          i.fa.fa-fw.fa-comment-alt
        div.card-list-body
          h4.m-0 #{rooms.length}
          small.tx-gray Комнаты
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-info
          i.fa.fa-fw.fa-code
        div.card-list-body
          h4.m-0 #{events.length}
          small.tx-gray Сценарии
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-cyan
          i.fa.fa-fw.fa-cube
        div.card-list-body
          h4.m-0 #{objects.length}
          small.tx-gray Объекты
    div.col-md-3.col-sm-6
      div.card.card-list-item
        span.avatar.w-40.circle.bg-yellow
          i.fa.fa-fw.fa-comment-alt
        div.card-list-body
          h4.m-0 75
