.avatar {
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.circle {
    border-radius : 50%;
}

.w-40 {
    width  : 40px;
    height : 40px;
}

.m-0 {
    margin : 0;
}

.m-t-0 {
    margin-top : 0;
}

.m-b-20 {
    margin-bottom : 20px;
}

.p-b-10 {
    padding-bottom : 10px;
}

.p-b-20 {
    padding-bottom : 20px;
}

.bg-success {
    background-color : var(--bg-success);
    color            : #ffffff;
}

.bg-info {
    background-color : var(--bg-info);
    color            : #ffffff;
}

.bg-cyan {
    background-color : var(--bg-cyan);
    color            : #ffffff;
}

.bg-yellow {
    background-color : var(--bg-yellow);
    color            : #ffffff;
}

.tx-gray {
    color : rgba(0, 0, 0, 0.4);
}