:root {
    --height-header : 56px;
    --bg-success    : #22b66e;
    --bg-info       : #53a6fa;
    --bg-cyan       : #00bcd4;
    --bg-yellow     : #fdab29;
    --bg-danger     : #ea2e49;
}
* {
    box-sizing: border-box;
}
html, body {
    display          : flex;
    margin           : 0;
    padding          : 0;
    min-height       : 100%;
    min-width        : 100%;
    max-width        : 100%;
    color            : #343a40;
    background-color : #e5ecf0;
}

body {
    font  : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color : rgba(70, 90, 110, .85);
}

a, .btn {
    cursor          : pointer;
    text-decoration : none;
}

.body-wrapper {
    display   : flex;
    max-width : 1140px;
    margin    : 0 auto;
    flex      : 1 1 0;
}

.app-aside {
    flex             : 0 0 80px;
    background-color : #ffffff;
    z-index          : 2;
    position         : relative;
    box-shadow       : 1px 0 1px rgba(0, 0, 0, .05), -1px 0 1px rgba(0, 0, 0, .05);
}

.app-aside .logo {
    height : var(--height-header);
}

.app-aside nav.sidebar {

}

.app-aside nav.sidebar .nav {
    margin     : 0;
    padding    : 0;
    list-style : none;
}

.app-aside nav.sidebar .nav > li {
    position : relative;
}

.app-aside nav.sidebar .nav > li > a {
    color           : #c9ced4;
    display         : flex;
    height          : 50px;
    align-items     : center;
    justify-content : center;
}

.app-aside nav.sidebar .nav > li > a:hover {
    color : #4d5d6f;
}

.app-aside nav.sidebar .nav > li .sub-menu {
    position         : absolute;
    display          : none;
    left             : 100%;
    top              : 0;
    padding-right    : 20px;
    padding-left     : 20px;
    background-color : #ffffff;
    min-width        : 200px;
    border-radius    : 0 4px 4px 0;
    border           : 1px solid rgba(0, 0, 0, 0.1);
}

.app-aside nav.sidebar .nav > li .sub-menu span {
    display     : flex;
    align-items : center;
    height      : 48px;
}

.app-aside nav.sidebar .nav > li:hover .sub-menu {
    display : block;
}

.app-content {
    flex             : 1 1 0;
    background-color : #f3f6f9;
    width            : 100%;
    max-width        : 100%;
}

.app-content .content-header {
    height           : var(--height-header);
    background-color : #ffffff;
    box-shadow       : 0 2px 15px rgba(0, 0, 0, .05), 0 -1px 0 rgba(0, 0, 0, .01);
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    flex             : 1 1 0;
    padding          : 0 1.5rem;
}

.app-content .content-header .header-wrapper {

}

.app-content .content-main {
    padding : 1.5rem;
}

.title-page {
    margin      : 0;
    font-weight : 600;
}