/************************************/
/*              КАРТОЧКИ            */
/************************************/
.card {
    margin-bottom    : 1.5rem;
    background-color : #ffffff;
    box-shadow       : 0 2px 15px rgba(0, 0, 0, .05), 0 -1px 0 rgba(0, 0, 0, .01);
    position         : relative;
    border-radius    : 4px;
}

.card .card-head, .card .card-body {
    padding    : 1rem;
    border-top : 1px solid rgba(0, 0, 0, 0.045)
}

.card .card-head .card-title {
    margin      : 0;
    font-weight : 500;
}

.card .card-head .card-description {
    margin    : 0.4rem 0 0 0;
    font-size : 12px;
    color     : rgba(0, 0, 0, 0.4);
}

/* Доп классы */
.card.card-list-item {
    display : flex;
    padding : .75rem .5rem;
}

.card .card-list-body {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    margin          : 0 .7rem;
}

/************************************/
/*              ТАБЛИЦЫ             */
/************************************/

.table-responsive {
    overflow-x : auto;
}

.table {
    width           : 100%;
    border-collapse : collapse;
}

.table thead th {
    text-align     : left;
    border-bottom  : 2px solid rgba(0, 0, 0, 0.045);
    border-top     : 1px solid rgba(0, 0, 0, 0.045);
    color          : rgba(70, 90, 110, 0.85);
    text-transform : uppercase;
}

.table tbody td {
    border-top : 1px solid rgba(0, 0, 0, 0.045);
}

.table td, .table th {
    font-size : 12px;
    padding   : 15px;
}

/************************************/
/*               КНОПКИ             */
/************************************/
.btn {
    border        : 1px solid rgba(120, 130, 140, .2);
    padding       : .375rem .75rem;
    border-radius : .25rem;
    display       : inline-flex;
    margin        : 2px 4px;
}

.btn.btn-ico {
    padding : .375rem;
}

.btn.btn-ico-sm {
    padding   : .275rem;
    font-size : 11px;
}

.btn.btn-success {
    background-color : var(--bg-success);
    color            : #ffffff;
}

.btn.btn-danger {
    background-color : var(--bg-danger);
    color            : #ffffff;
}

.btn.btn-info {
    background-color : var(--bg-info);
    color            : #ffffff;
}

/************************************/
/*               ФОРМЫ              */
/************************************/

form {
    width : 100%;
}

form .form-group {
    margin-bottom : 1rem;
}

form .form-group label {
    display       : block;
    margin-bottom : .5rem;
    font-size     : 12px;
}

form .form-control {
    width         : 100%;
    max-width     : 100%;
    min-width     : 100%;
    padding       : .375rem .75rem;
    border        : 1px solid #ced4da;
    border-radius : .25rem;
    line-height   : 1.5;
    font-size     : .8rem;
    box-shadow    : 0 0 0 .0rem rgba(83, 166, 250, .0);
    transition    : box-shadow 0.1s ease-in;
    font-family   : "Lucida Grande", Helvetica, Arial, sans-serif;
}

form .form-control:focus {
    box-shadow : 0 0 .1rem .15rem rgba(83, 166, 250, .25);
}

/************************************/
/*               СПИСКИ             */
/************************************/
.list-group {
    margin     : 0;
    padding    : 0;
    list-style : none;
}

.list-group.list-group-responsive {
    border-top : 1px solid rgba(0, 0, 0, 0.045);

}

.list-group .list-item {
    padding       : 12px 16px;
    border-bottom : 1px solid rgba(0, 0, 0, .045)
}

.list-group .list-item:hover {
    background-color : rgba(0, 0, 0, .045);
}

code {
    border-left      : 4px solid;
    display          : block;
    padding-top      : 10px;
    padding-bottom   : 10px;
    background-color : #343a40;
    color            : #ffffff;
}

code pre {
    display          : block;
    padding          : 20px;
    line-height      : 1.6;
    word-break       : break-all;
    white-space      : pre-wrap;
    border-left      : 6px solid #00bcd4;
    background-color : rgba(255, 255, 255, 0.05);
}