extends ../layout

block content
  div.row
    div.col-md-6
      div.card
        div.card-head
          h3.card-title Редактировать свойство
        div.card-body
          h4.m-t-0 Редактировать свойство
          form(method="post", action="/object/update_property")
            div.form-group
              label Свойство
              input(name="ID", value=property.ID, type="hidden")
              input.form-control(name="TITLE", value=property.TITLE, placeholder=property.TITLE)
            div.form-group
              label Значение
              input.form-control(name="VALUE", value=property.VALUE, placeholder=property.VALUE)
            div.form-group
              label Обновлять значение у привязаной комнаты
              select.form-control(name="UPDATE_ROOM_VALUE")
                option(value=0, selected=((property.UPDATE_ROOM_VALUE === 0))) Нет
                option(value=1, selected=((property.UPDATE_ROOM_VALUE === 1))) Да
            div.form-group
              label Выполнить сценарий при обновлении значения
              select.form-control(name= "ID_EVENT")
                option(value=0) Не выполнять
                each value in events
                  option(value= value.ID, selected=(property.ID_EVENT === value.ID))= value.TITLE
            button.btn.btn-success Сохранить
