extends ../layout

block content
  div.row
    div.col-md-4
      div.card
        div.card-head
          h3.card-title Редактировать объект #{object.TITLE}
          p.card-description Список объектов
        div.card-body
          form.form(action="/object/object_update", method="POST")
            div.form-group
              label Название
              input.form-control(name="TITLE", required, value=object.TITLE, placeholder=object.TITLE)
              input(type="hidden", name="ID", value=object.ID)
            div.form-group
              label Описание
              textarea.form-control(rows=5, name="DESCRIPTION", placeholder=object.DESCRIPTION)= object.DESCRIPTION
            button.btn.btn-success Сохранить
    div.col-md-8
      div.card
        div.card-head
          h3.card-title Свойства объекта
        table.table
          thead
            tr
              th #
              th Свойство
              th Значение
              th Обновлять значение комнаты
              th
          tbody
            each value in objectProperty
              tr
                td: b= value.ID
                td= value.TITLE
                td= value.VALUE
                td
                  if value.UPDATE_ROOM_VALUE === 0
                    | Нет
                  else if value.UPDATE_ROOM_VALUE === 1
                    | Да
                td
                  a.btn.btn-success.btn-ico-sm(href="/object/edit_property/" + value.ID)
                    span: i.fa.fa-fw.fa-pencil-alt
                  a.btn.btn-danger.btn-ico-sm(href="/object/remove_property/" + value.ID)
                    span: i.fa.fa-fw.fa-trash-alt

        div.card-body
          h4.m-t-0 Добавить свойство
          form(method="post", action="/object/add_property")
            div.form-group
              label Свойство
              input(name="ID_OBJECT", value=object.ID, type="hidden")
              input.form-control(name="TITLE")
            div.form-group
              label Значение
              input.form-control(name="VALUE")
            div.form-group
              label Обновлять значение у привязаной комнаты
              select.form-control(name="UPDATE_ROOM_VALUE")
                option(value="0") Нет
                option(value="1") Да
            div.form-group
              label Выполнить сценарий при обновлении значения
              select.form-control(name= "ID_EVENT")
                option(value=0) Не выполнять
                each value in events
                  option(value= value.ID)= value.TITLE
            button.btn.btn-success Добавить