extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Объекты
          p.card-description Список объектов
        div.table-responsive
          table.table
            thead
              tr
                th #
                th Название
                th Описание
                th
            tbody
              each value in objects
                tr
                  td: b #{value.ID}
                  td #{value.TITLE}
                  td #{value.DESCRIPTION}
                  td
                    a.btn.btn-success.btn-ico-sm(href="/object/edit/"+value.ID)
                      span
                        i.fa.fa-fw.fa-pencil-alt
                    a.btn.btn-danger.btn-ico-sm(href="/object/remove_object/" + value.ID)
                      span
                        i.fa.fa-fw.fa-trash-alt
    div.col-md-5
      div.card
        div.card-head
          h3.card-title Добавить новый объект
        div.card-body
          form.form(action="/object/add_object", method="POST")
            div.form-group
              label Название
              input.form-control(name="TITLE", required)
            div.form-group
              label Описание
              textarea.form-control(rows=5, name="DESCRIPTION")
            button.btn.btn-success Добавить