extends ../layout

block content
  div.row
    div.col-md-6
      div.card
        div.card-head
          h3.card-title Редактировать комнату
          p.card-description Внимани! При изменении параметра значения Путь, устройства больше не смогут подключиться к этой при перезапуске сервера!
        div.card-body
          form.form(action="/room/edit/update", method="POST")
            div.form-group
              label Название
              input(type="hidden", name="ID", value=room.ID)
              input.form-control(name="TITLE", required, value=room.TITLE, placeholder=room.TITLE)
            div.form-group
              label Путь
              input.form-control(name="PATH", required, value=room.PATH, placeholder=room.PATH)
            div.form-group
              label Описание
              textarea.form-control(rows=5, name="DESCRIPTION", placeholder=room.DESCRIPTION)= room.DESCRIPTION
            div.form-group
              label Значение
              input.form-control(name="VALUE", value=room.VALUE, placeholder=room.VALUE)
            div.form-group
              label Привязать значение к свойству объекта
              select.form-control(name="ID_PROPERTY_OBJECT")
                option(value="0") Не привязывать
                each value in property
                  if value.ID === room.ID_PROPERTY_OBJECT
                    option(value=value.ID, selected) #{value.TITLE}
                  else
                    option(value=value.ID) #{value.TITLE}
            button.btn.btn-success Изменить


    div.col-md-6(style="display:none")
      div.card
        div.card-head
          h3.card-title События
          p.card-description Выполнение сценариев при обновлении значения или подключении нового клиента
        ul.list-group.list-group-responsive
          li.list-item Первый
          li.list-item Второй
          li.list-item Третий