extends ../layout

block content
  div.row
    div.col-md-12
      div.card
        div.card-head
          h3.card-title Список комнат
          p.card-description Список комнат
        div.table-responsive
          table.table
            thead
              tr
                th #
                th Название
                th Путь
                th Обновлено
                th Значение
                th
            tbody
              each value in rooms
                tr
                  td: b #{value.ID}
                  td #{value.TITLE}
                  td #{value.PATH}
                  td #{value.UPDATE_TIME}
                  td #{value.VALUE}
                  td
                    a.btn.btn-success.btn-ico-sm(href="/room/edit/" + value.ID)
                      span: i.fa.fa-fw.fa-pencil-alt
                    a.btn.btn-danger.btn-ico-sm(href="/room/delete/" + value.ID)
                      span: i.fa.fa-fw.fa-trash-alt

    div.col-md-5
      div.card
        div.card-head
          h3.card-title Добавить новую комнату
        div.card-body
          form.form(action="/room/add_room", method="POST")
            div.form-group
              label Название
              input.form-control(name="TITLE", required)
            div.form-group
              label Путь
              input.form-control(name="PATH", required)
            div.form-group
              label Описание
              textarea.form-control(rows=5, name="DESCRIPTION")
            div.form-group
              label Значение
              input.form-control(name="VALUE")
            div.form-group
              label Привязать значение к свойству объекта
              select.form-control(name="ID_PROPERTY_OBJECT")
                option(value="0") Не привязывать
                each value in property
                  option(value=value.ID) [ID: #{value.ID}] #{value.TITLE}
            button.btn.btn-success Добавить